## Telecom Subscribers data analysis

## Arranging the data sorting/filtering/addding

In [1]:
import pandas as pd
import numpy as np
import matplotlib,matplotlib.pyplot as plt
import mplcyberpunk
from datetime import datetime

# Our dataset
df=pd.read_csv("data.csv")

def Vendors():
    global vendors
    vendors=df["Service Providers"]
    vendors=set(vendors)
    vendors=list(vendors)
    #print(vendors)

Vendors()

def FilterDates():
    global new_df
    new_df=df.sort_values(by="Fiscal Year AD" ,ascending=True)
 
     
FilterDates()
new_df=new_df.reset_index()
new_df.drop(columns=["index"]) 

unique_dates_AD=set((new_df["Fiscal Year AD"]))
unique_dates_BS=set((new_df["Fiscal Year BS"]))

# creating a new data frame 'bsad_df' just to sort dates for BS and AD 
# when you sort AD column the BS columns get rearranged so have to create a new data frame for both dates so that we dont
# have to use .sort_values(by="") which disturbs our work

def  SortBSAD_dates():
    global bs_df
    global ad_df
    bs_df=pd.DataFrame(columns=["Year BS"])
    bs_df["Year BS"]=list(unique_dates_BS)
    bs_df=bs_df.sort_values(by="Year BS")
    bs_df=bs_df.reset_index()
    bs_df=bs_df.drop(columns=["index"])
    
    # For AD
    
    ad_df=pd.DataFrame(columns=["Year AD"])
    ad_df["Year AD"]=list(unique_dates_AD)
    ad_df=ad_df.sort_values(by="Year AD")
    ad_df=ad_df.reset_index()
    ad_df=ad_df.drop(columns=["index"])

SortBSAD_dates()

def addBSandAD():
    global test_df
    # Creating a data frame <test_df> for our main work 
    test_df=pd.DataFrame(columns=["Year AD","Year BS"]+vendors)

    test_df["Year AD"]=ad_df["Year AD"]
    test_df["Year BS"]=bs_df["Year BS"]
    #test_df=test_df.sort_values(by="Year AD",ascending=True)

    test_df=test_df.reset_index()
    test_df=test_df.drop(columns=["index"])
    test_df

addBSandAD()
class PutValues: # to put subs data into respective vendors or columns
    def NTC(self):
        global test_df
        ntc=new_df.loc[new_df["Service Providers"]=="Nepal Telecom Limited"]
        test_df["Nepal Telecom Limited"]=ntc.Subscribers

apply=PutValues()
apply.NTC()

In [21]:
vals=(new_df.loc[new_df["Service Providers"]=="Nepal Telecom Limited"]["Subscribers"])

test_df.replace(test_df[:],vals)

,Year AD,Year BS,Smart Telecom,Nepal Satellite Telecom Pvt.,STM Telecom Sanchar Pvt. Ltd,United Telecom Limited,Ncell Pvt Ltd,Others,Nepal Telecom Limited
0,2009/10,2066/67,NaN,NaN,NaN,NaN,NaN,NaN,6326068.0
1,2010/11,2067/68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011/12,2068/69,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012/13,2069/70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013/14,2070/71,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Test Part

In [4]:
new_df.loc[new_df["Service Providers"]=="Nepal Telecom Limited"]["Subscribers"]

0     6326068
12    7522136
18    8595771
22    9176060
30     580289
Name: Subscribers, dtype: int64