## Telecom Subscribers data analysis

## Arranging the data sorting/filtering/addding

In [164]:
import pandas as pd
import numpy as np
import matplotlib,matplotlib.pyplot as plt
import mplcyberpunk

# Our dataset
df=pd.read_csv("data.csv")

def Vendors():
    global vendors
    vendors=df["Service Providers"]
    vendors=set(vendors)
    vendors=list(vendors)
    #print(vendors)

Vendors()

def FilterDates():
    global new_df
    new_df=df.sort_values(by="Fiscal Year AD" ,ascending=True)
 
     
FilterDates()
new_df=new_df.reset_index()
new_df.drop(columns=["index"]) 

unique_dates_AD=set((new_df["Fiscal Year AD"]))
unique_dates_BS=set((new_df["Fiscal Year BS"]))
# Theres was a problem while sorting AD and BS dates at a same time so i sorted BS manaually

In [155]:
new_df.drop(columns=["index"])
# For NTC
new_df.loc[new_df["Service Providers"]=="Nepal Telecom Limited"]

test_df=pd.DataFrame(columns=["Year AD","Year BS"]+vendors)

test_df["Year AD"]=list(unique_dates_AD)
test_df["Year BS"]=set(unique_dates_BS)
test_df=test_df.sort_values(by="Year AD",ascending=True)


test_df=test_df.reset_index()
test_df=test_df.drop(columns=["index"])
test_df

,Year AD,Year BS,Ncell Pvt Ltd,STM Telecom Sanchar Pvt. Ltd,Nepal Telecom Limited,Nepal Satellite Telecom Pvt.,United Telecom Limited,Smart Telecom,Others
0,2009/10,2067/68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010/11,2070/71,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011/12,2068/69,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012/13,2066/67,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013/14,2069/70,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Test Part

In [146]:
new_df

,index,Service Providers,Fiscal Year AD,Fiscal Year BS,Subscribers
0,0,Nepal Telecom Limited,2009/10,2066/67,6326068
1,20,Nepal Satellite Telecom Pvt.,2009/10,2066/67,77238
2,30,Others,2009/10,2066/67,1742
3,5,United Telecom Limited,2009/10,2066/67,538833
4,10,Ncell Pvt Ltd,2009/10,2066/67,4479021
5,25,Smart Telecom,2009/10,2066/67,91469
6,15,STM Telecom Sanchar Pvt. Ltd,2009/10,2066/67,5185
7,21,Nepal Satellite Telecom Pvt.,2010/11,2067/68,146319
8,11,Ncell Pvt Ltd,2010/11,2067/68,7463071
9,26,Smart Telecom,2010/11,2067/68,311227
10,6,United Telecom Limited,2010/11,2067/68,613801
11,31,Others,2010/11,2067/68,1742
12,1,Nepal Telecom Limited,2010/11,2067/68,7522136
13,16,STM Telecom Sanchar Pvt. Ltd,2010/11,2067/68,5336
14,22,Nepal Satellite Telecom Pvt.,2011/12,2068/69,149708
15,32,Others,2011/12,2068/69,1742
16,27,Smart Telecom,2011/12,2068/69,576503
17,17,STM Telecom Sanchar Pvt. Ltd,2011/12,2068/69,5363
18,2,Nepal Telecom Limited,2011/12,2068/69,8595771
19,12,Ncell Pvt Ltd,2011/12,2068/69,9553404
20,7,United Telecom Limited,2011/12,2068/69,698298
21,18,STM Telecom Sanchar Pvt. Ltd,2012/13,2069/70,5385
22,3,Nepal Telecom Limited,2012/13,2069/70,9176060
23,28,Smart Telecom,2012/13,2069/70,753254
24,33,Others,2012/13,2069/70,1742
25,8,United Telecom Limited,2012/13,2069/70,719341
26,23,Nepal Satellite Telecom Pvt.,2012/13,2069/70,149698
27,13,Ncell Pvt Ltd,2012/13,2069/70,10526798
28,24,Nepal Satellite Telecom Pvt.,2013/14,2070/71,-10
29,29,Smart Telecom,2013/14,2070/71,176751
30,4,Nepal Telecom Limited,2013/14,2070/71,580289
31,14,Ncell Pvt Ltd,2013/14,2070/71,973394
32,19,STM Telecom Sanchar Pvt. Ltd,2013/14,2070/71,22
33,9,United Telecom Limited,2013/14,2070/71,21043
34,34,Others,2013/14,2070/71,0

In [114]:
df

               Service Providers Fiscal Year AD Fiscal Year BS  Subscribers
0          Nepal Telecom Limited        2009/10        2066/67      6326068
1          Nepal Telecom Limited        2010/11        2067/68      7522136
2          Nepal Telecom Limited        2011/12        2068/69      8595771
3          Nepal Telecom Limited        2012/13        2069/70      9176060
4          Nepal Telecom Limited        2013/14        2070/71       580289
5         United Telecom Limited        2009/10        2066/67       538833
6         United Telecom Limited        2010/11        2067/68       613801
7         United Telecom Limited        2011/12        2068/69       698298
8         United Telecom Limited        2012/13        2069/70       719341
9         United Telecom Limited        2013/14        2070/71        21043
10                 Ncell Pvt Ltd        2009/10        2066/67      4479021
11                 Ncell Pvt Ltd        2010/11        2067/68      7463071
12                 Ncell Pvt Ltd        2011/12        2068/69      9553404
13                 Ncell Pvt Ltd        2012/13        2069/70     10526798
14                 Ncell Pvt Ltd        2013/14        2070/71       973394
15  STM Telecom Sanchar Pvt. Ltd        2009/10        2066/67         5185
16  STM Telecom Sanchar Pvt. Ltd        2010/11        2067/68         5336
17  STM Telecom Sanchar Pvt. Ltd        2011/12        2068/69         5363
18  STM Telecom Sanchar Pvt. Ltd        2012/13        2069/70         5385
19  STM Telecom Sanchar Pvt. Ltd        2013/14        2070/71           22
20  Nepal Satellite Telecom Pvt.        2009/10        2066/67        77238
21  Nepal Satellite Telecom Pvt.        2010/11        2067/68       146319
22  Nepal Satellite Telecom Pvt.        2011/12        2068/69       149708
23  Nepal Satellite Telecom Pvt.        2012/13        2069/70       149698
24  Nepal Satellite Telecom Pvt.        2013/14        2070/71          -10
25                 Smart Telecom        2009/10        2066/67        91469
26                 Smart Telecom        2010/11        2067/68       311227
27                 Smart Telecom        2011/12        2068/69       576503
28                 Smart Telecom        2012/13        2069/70       753254
29                 Smart Telecom        2013/14        2070/71       176751
30                        Others        2009/10        2066/67         1742
31                        Others        2010/11        2067/68         1742
32                        Others        2011/12        2068/69         1742
33                        Others        2012/13        2069/70         1742
34                        Others        2013/14        2070/71            0